
{% extends "main.html" %}
  {% block content %}
<head>
  <meta name="google-signin-client_id" content="988869895749-rvr844s1b547g618qi23ul9ta5v7idpn.apps.googleusercontent.com">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"></script>
  <title>Login</title>
</head>
<body>
  <div id="my-signin2"></div>
  <div id="button-container" class="row">
    <div id="signinButton">
      <span class="g-signin2"
        data-scope="openid email"
        data-clientid="988869895749-rvr844s1b547g618qi23ul9ta5v7idpn.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-onsuccess="onSignIn"
        data-onfailure="onSignInFailure"
        data-approvalprompt="force">
      </span>
    </div>

<div id="result" style="color: aliceblue">Result</div>
<script>
  function onSignIn(authResult) {
    console.log("sending ajax request")
    if(authResult['code']){
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          contentType: 'application/octect-stream; charset=utf-8',
          data: authResult['code'],
          success: function(result){
            console.log(result)
            if(result){
              $('#result').html('Login Successful!<br>'+ result + "<br> Redirecting...")
              setTimeout(function(){
                window.location.href = "http://localhost:5000";
              },4000);
            }else if(authResult['error']){
              console.log('There was an error: '+ authResult['error'])
            }else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        });
    }
  }
  function onSignInFailure() {
  // Handle sign-in errors
   
  }
  function signOut(){
    setTimeout(function () {
      console.log("in Here");
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function(){
        var auth2 = gapi.auth2.getAuthInstance();
      });
    }, 1000);
  }
</script>
</body>

  {% endblock %}
